<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Data</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h2>add new user</h2>
    <a href="addnewuser">add new user</a><br /><br />

    <table>
      <tr>
        <th>Id</th>
        <th>email</th>
        <th>username</th>
      </tr>
      <% for(user of users ){ %>
      <tr>
        <td><%= user.id%></td>
        <td><%= user.email%></td>
        <td><%= user.username%></td>
        <td>
          <form method="GET" action="/user/<%= user.id%>/edit">
            <button>edit username</button>
          </form>
        </td>
      </tr>
      <% }%>
    </table>
  </body>
</html>
