<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home ejs</title>
</head>
<body>
    <h1>this is the home page</h1>
    <h3> <%= 'jatin verma'.toUpperCase() %></h3>
    <h3> <%= ['hello','namste','bonjur'][1] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint et libero architecto nihil voluptatibus ipsam provident, facere numquam ut nulla, recusandae nam omnis dicta! Error est ipsa repellat officia harum.</p>
    <button>click me</button>
</body>
</html>