<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>=new chat</title>
  </head>
  <body>
    <h3>Write a new chat...</h3><br><br>
    <form method="post" action="/chats">
      <input type="text" placeholder="Who are you" name="from" /><br><br>
      <textarea name="msg" id="" placeholder="write you message"></textarea><br><br>
      <input type="text" name="to" placeholder="add reciver" /><br><br>
      <button>Create chat</button>
    </form>
  </body>
</html>
